body {
  background: rgba(0,0,0,0);
  color: #333333;
  font-family: 'Charm';
  font-weight: 300;
  font-size: 15px;
}

.middle{
	align-items: center;
	height: 600px;
}

.middle form {
    align-items: center;
    line-height: 10;
    text-align: center;
}

.middle p {
	align-items: center;
	height: 20px;
	margin-bottom: 0;
}
