body {
  font-family:  sans-serif;
  background-color: gray;
  display: flex;
  align-items: center;
}

main {
  width: 30%;
  margin: auto auto;
  height: 500px;
  background-color: white;
  border-radius: 10px;
}

h2, h4, button {
  text-align: center;
  color: gray;
}

h3 {
  text-decoration: none;
}

img {
  height: 150px;
}

input[type=text], input[type=password] {
  width: 50%;
  padding: 10px;
  display: block;
  margin: auto auto;
}

.imgcontainer {
  display: flex;
  justify-content: center;
}

button {
  background-color: #4CAF50;
  display: block;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 50%;
  margin: auto auto;
  margin-top: 20px;
}

#login-error {
  clear: both;
  color: #990000;
  padding-top: 10px;
}

#welcome-msg {
  margin-left: 20px;
}
